.container {
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

.landing {
  height: 50vh;
  display: flex;
  flex-direction: row;
}

.intro {
  width: 20rem;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(244, 244, 244, 0.3);
  padding: 1rem;
  border-radius: 1rem;
}

.introText {
  color: #000;
}

#landingText {
  font-size: 1.8rem;
}
#landingSubText {
  font-size: 1.7rem;
  margin: 0.1rem 0 0.6rem 0;
}
#landingSubSubText {
  font-size: 1.3rem;
}

.imgContainer {
  width: 20rem;
  height: 15rem;
  position: absolute;
  top: 19rem;
  left: 50%;
  transform: translateX(-50%);
}

.promo {
  padding: 1rem;
}

.promoTitle {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  text-align: center;
}

.articleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.promoArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
}

.promoArticleTitle {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.promoArticleText {
  font-size: 1.2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .landing {
    flex-direction: row;
  }
}
