.container {
  position: relative;
  overflow-x: hidden;
  width: 100%;
}



.promo {
  padding: 1rem;
  margin: 5rem 0;
}

.promoTitle {
  margin: 1.5rem 0 2.5rem;
  font-size: 1.8rem;
  text-align: center;
}

.articleContainer {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
}

.promoArticle {
  padding: 2rem 1rem;
  margin: 1rem 1rem;
  border-radius: 1rem;
  min-width: 280px;
  max-width: 700px;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  /*box-shadow: inset 2px 2px 8px #555, inset -1px -1px 3px #fff;*/
}

.promoArticle > div {
  height: 12rem;
}

.promoArticleTitle {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.promoArticleText {
  padding: 0 1rem;
  font-size: 1.2rem;
  text-align: left;
  width: 26ch;
}